@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to right, #000000, #353435);
  --foreground: #11025b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #6b46c1, #f472b6);
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}